html {
    font-size: 20px;
}

#container {
    font-size: 30px;

}
#container > div {
    background-color: aquamarine;
    margin-bottom: 15px;
}

#pixel {
    width: 400px;
}

#em {
    width: 20em;
}